<%- include ../partials/_navbar.ejs %>

<div class="container">
      <div class="row">
<% foods.forEach((food) => { %>

    <div class="col-4">
    <a href="/foods/<%= food.id %>">
      <h2><%= food.name %></h2>
    </a>

   <img class="img-fluid img-thumbnail" src="<%= food.image %>" alt="<%= food.name %>">
   <p>
     Amounts per 100g: <br>
     Protein: <%= food.protein %>g<br>
     Carbs: <%= food.carbs %>g<br>
     Fat: <%= food.fat %>g<br>
     Calories: <%= food.calories %><br>
     Description: <br><%= food.description %><br>
   </p>
   </div>
<% }) %>
</div>
</div>


<%# <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>%>
