<%- include ../partials/_navbar.ejs %>


<div class="food-item">
  <div class="food-display">
    <h2><%= food.name %></h2>
    <h3>Created By: <%= food.createdBy.username %></h3>
    <img class="food-img" src="<%= food.image %>" alt="<%= food.name %>">
  </div>


  <p>
    (Amounts per <strong>100g</strong>)<br>
    Protein: <strong> <%= food.protein %>g<br> </strong>
    Carbs: <strong> <%= food.carbs %>g<br> </strong>
    Fat:  <strong> <%= food.fat %>g<br></strong>
    Calories: <strong> <%= food.calories %><br> </strong>
    <br><%= food.description %><br>
    <hr>
  </p>
<div>
  </div>



    <div class="food-item-form" class="form-control">
    <%  if (locals.isLoggedIn) { %>
          <form action="/foods/<%= food.id %>/favourite" method="POST">
          <button class="favourite-food">Favourite Food</button>
          </form>
    <%  } %>
      <% if(locals.isLoggedIn && food.belongsTo(user)) { %>
        <a href="/foods/<%= food.id %>/edit">Edit Food</a>

          <button class="delete-food">Delete Food</button>
        <form method="POST" action="/foods/<%= food.id %>">
        <input type="hidden" name="_method" value="DELETE">
        </form>
        <% } %>
        <h4 class="comment-heading">Comments:</h4>
        <% food.comments.forEach((comment) => { %>
          <hr>
          <p><%= comment.content %></p>
          <small>Posted by: <%= comment.createdBy.username %></small>

          <% if(locals.isLoggedIn && comment.belongsTo(user)) { %>
            <form method="POST" action="/foods/<%= food.id %>/comments/<%= comment.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button class="delete-comment">Delete Comment</button>
            </form>
            <% } %>
            <% }) %>

            <% if(locals.isLoggedIn) { %>
              <section>
              <form method="POST" action="/foods/<%= food.id %>/comments">
              <textarea name="content" id="content" class="form-control" placeholder="Comment"></textarea>
              <button class="comment-button btn btn-primary">Leave a comment</button>
              </form>
              </section>
              <% } %>
            </div>

            </div>
